/* ealmonte */

body
{
  color: white;
  font-family: Palatino;
  font-size: 15px;
  line-height:1.4;
}

a {
  color: #ff6f00;
}

.header
{
  overflow: hidden;
  background-color: #1e2e47;
  padding: 20px;
}

.header a
{
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  font-family: Helvetica;
  border-radius: 12px;
}

.header a:hover
{
  background-color: #333b4f;
  color: white;
}

.header a.active
{
  background-color: #495572;
  color: white;
}

img.products {
  horizontal-align: middle;
}

/* change the styles below when browser window is 601px wide or higher */
@media screen and (min-width: 601px){
  img.logo
  {
  	height: 200px;
  	width: 800px;
  	border-radius: 20px;
  }
}

/* change the styles below when browser window is 600px wide or less */
@media screen and (max-width: 600px){
  .header a
  {
    float: top;
    display: block;
    text-align: left;
  }
  
  img.logo
  {
	height: 100px;
  	width: 100%;
  	border-radius: 20px;
  }
  body
	{
 	 color: white;
 	 font-family: Palatino;
	 font-size: 12px;
 	 line-height:1.4;
	}
	
  .header a
	{
  	color: white;
  	text-align: center;
  	padding: 20px;
  	text-decoration: none;
  	font-size: 14px;
  	font-family: Helvetica;
  	border-radius: 12px;
	}
}

table {
  border: 1px solid white;
  width: 80%;
  text-align: left;
  border-collapse: collapse;
}

table.tablelogin {
  width: 200px;
  border: 0px;
  text-align: left;
  border-collapse: collapse;
}

table.tableemployee {
  width: 50%;
  border: 0px;
  text-align: left;
  border-collapse: collapse;
}

table.tableaddemployee {
  width: 30%;
  text-align: left;
  border-collapse: collapse;
}

table.tablecontactus {
  width: 500px;
  border: 0px;
  background-color: #495572;
  text-align: left;
  border-collapse: collapse;
}

table.tableregister {
  width: 500px;
  border: 0px;
  background-color: #495572;
  text-align: left;
  border-collapse: collapse;
}

table.tablecustomers {
  width: 300px;
  border: 0px;
  background-color: #495572;
  text-align: left;
  border-collapse: collapse;
}

td {
  border: 1px solid white;
  border-radius: 2px;
}
td.tdlogin {
  border: 0px;
  padding: 2px;
  text-align: right;
}

* {
  box-sizing: border-box;
}
